{% extends "users/base.html" %}
{% block title %}Points Verification Page{% endblock title %}
{% block content %}
    <div class="row my-3 p-3">
        <img class="rounded-circle account-img" src="{{ user.profile.avatar.url }} " style="cursor: pointer;"/>
    </div>
    {% if points_form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div id="form_errors">
                {% for key, value in sponsor_form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="form-content">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-5">
                    <div class="form-group">
                        {% if sponsor_form.to_review %}
                        <hr>
                        <h5>Event Details: </h5>

                        <label class="small mb-1">Event Title: </label>
                        {{ sponsor_form.event_name}} <br>
                        <label class="small mb-1">Event Date: </label>
                        {{ sponsor_form.event_date}}<br>
                        <label class="small mb-1">Submitter: </label>
                        {{ sponsor_form.full_name}}<br>
                        <label class="small mb-1">Submitted On: </label>
                        {{ sponsor_form.report_submitted}}<br>
                        
                        <hr>
                        <label class="small mb-1">Points Requested:</label>
                        {{ sponsor_form.points_requested}}
                        <hr>
                        <label class="small mb-1">Notes:</label>
                        {{ sponsor_form.notes}}
                        <hr><label class="small mb-1">Points Approved:</label>
                        {{ sponsor_form.points_granted}}

                        {{sponsor_form.eventName}}

                        {{ sponsor_form.errors }}
                        {{ sponsor_form.non_field_errors }} 
                        {% else %}
                        <h5>No forms to review!</h5>
                        {% endif %}
                    </div>
                </div>
            </div>
            <br><br>
            <button type="submit" class="btn btn-dark btn-lg">Submit</button>
        </form>
    </div>
{% endblock content %}